:host > #wrapper.source-code slot#code,
:host > slot#code {
  counter-reset: line-number var(--code-first-line-number, 1);
  --code-wrap-indent: 1em;

  white-space: pre;
  /* box-sizing: content-box; */
  /* display: none; */
  /* z-index: 1; */
}

/*

:host > #wrapper.source-code slot#code::slotted(*) {
  line-height: var(--code-line-height);
  font-size: var(--code-font-size);
  font-family: var(--code-font-family) monospace;
  tab-size: var(--tab-size, 4);

  counter-increment: line-number;
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  border-radius: 4px;

}

:host > #wrapper.source-code slot#code::slotted(code) {
  border: 0.5px solid #0f0;
  background-color: #0f01;
}

:host > #wrapper.source-code slot#code::slotted(code.indent) {
  border: 0.5px solid #00f3;
  color: #00f9;
  background-color: #0000ff03;
  width: calc(1em * var(--tab-size, 4));
}

:host > #wrapper.source-code slot#code::slotted(pre) {
  border: 0.5px solid #6666ff99;
  background-color: #6666ff03;
}

:host > #wrapper.source-code slot#code::slotted(div) {
  border: 0.5px solid #ff666699;
  background-color: #ff666603;
}

:host > #wrapper.source-code slot#code::slotted(p) {
  border: 0.5px solid #66ff6699;
  background-color: #66ff6603;
  display: block;
}

*/

:host > #wrapper.source-code slot#code::slotted(source-text) {
  /*
  line-height: var(--code-line-height);
  font-size: var(--code-font-size);
  font-family: var(--code-font-family) monospace;
  tab-size: var(--tab-size, 2);
  */
  counter-increment: line-number;
  /* outline: 0.5px solid #66ff6633; */
  /* background-color: #66ff6603; */
  /* display: block; */

  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:host > #wrapper.source-code slot#code::slotted(:active) {
  outline: 0.5px solid #999;
  background-color: #9993;
}
