/* @import './theme/code-host.css'; */
/* @import './code-options.css'; */
@import './code-wrapper.css';
@import './code-content.css';
@import './code-slot.css';

:host(code-editor) {
  display: flex;
  flex-flow: column;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: scroll;

  color: var(--code-text-color);
  font-size: var(--code-font-size);
  font-family: var(--code-font-family);
  line-height: var(--code-line-height);
}

:host(code-editor) #options {
  background-color: var(--code-gutter-background, #9999);
  color: var(--code-gutter-text-color, black);
  font-family: system-ui;
}
