@import './common.css';

html {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  width: inherit;
  height: inherit;
}

:not(:defined) {
  display: none;
}

html[demo] {
  /* position: fixed; */
  /* overflow: hidden; */
}

html[demo] > body {
  margin: 0;
  background-color: #fffa;
  /* position: fixed; */
}

html[demo] > body {
  display: grid;
  grid-template: 'main' 'footer' 2.5rem;
}

html[demo] > body > main {
  grid-area: main;
  display: grid;
  overflow: hidden;
  /* width: 100%; */
  /* height: 100%; */
  outline: 1px dotted #9999;
}
html[demo] > body > footer {
  grid-area: footer;
  display: grid;
  place-items: center;
}

:root {
  --pattern-size: calc(3px * 8);
  --pattern-color: white;
}
