@import './theme/code-host.css';
@import './code-wrapper.css';
@import './code-content.css';
@import './code-slot.css';

:host {
  /*
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  font-size: var(--code-font-size);
  font-family: var(--code-font-family, monospace);
  tab-size: var(--tab-size, 2);
 */
  /* display: flex; */
  /* flex-flow: column; */
  box-sizing: content-box;
  overflow: scroll;
  /* overflow-x: scroll; */
  /* overflow-y: scroll; */

  color: var(--code-text-color);
  font-size: var(--code-font-size);
  font-family: var(--code-font-family);
  line-height: var(--code-line-height);
  /* overscroll-behavior: contain; */
  /* tab-size: var(--tab-size, 2); */
}

/*
@supports (overscroll-behavior: contain) {
  :host(source-view) {
    overscroll-behavior: contain;
  }
}
*/
