@import url('/fonts/iosevka.css');

:host([theme='default']),
:host(:not([theme])),
:host > .default-theme {
  /* CODE */

  --code-theme-font: 'Iosevka Web', monospace;

  /* Avoid relative font-sizes */
  --code-theme-font-size: 13px;

  --code-theme-background: #fff;
  --code-theme-text: #666;

  --code-theme-gutter-background: #f3f3f3aa;
  --code-theme-gutter-text: #000;

  --code-theme-punctuation: cornflowerblue;
  --code-theme-keyword: chocolate;
  --code-theme-operator: limegreen;
  --code-theme-string: cadetblue;
  --code-theme-comment: #aaa;
  --code-theme-literal: coral;

  font-variant-ligatures: contextual;
}
