:host {
  /* CODE */

  --code-background: var(
    --code-theme-background,
    var(--code-default-background, #fffc)
  );
  --code-text: var(--code-theme-text, var(--code-default-text, #559));

  /* GUTTER */

  --code-gutter-background: var(
    --code-theme-gutter-background,
    var(--code-default-gutter-background, #ddde)
  );

  --code-gutter-text: var(
    --code-theme-gutter-text,
    var(--code-default-gutter-text, #000)
  );

  /* TOKENS */

  --code-punctuation: var(
    --code-theme-punctuation,
    var(--code-default-punctuation, currentcolor)
  );
  --code-keyword: var(
    --code-theme-keyword,
    var(--code-default-keyword, currentcolor)
  );
  --code-operator: var(
    --code-theme-operator,
    var(--code-default-operator, currentcolor)
  );
  --code-string: var(
    --code-theme-string,
    var(--code-default-string, currentcolor)
  );
  --code-comment: var(
    --code-theme-comment,
    var(--code-default-comment, currentcolor)
  );
  --code-literal: var(
    --code-theme-literal,
    var(--code-default-literal, currentcolor)
  );
}

code.token.punctuation {
  color: var(--code-punctuation);
}

code.token.keyword {
  color: var(--code-keyword);
}

code.token.operator {
  color: var(--code-operator);
}

code.token.string {
  color: var(--code-string);
}

code.token.comment {
  color: var(--code-comment);
}

code.token.literal {
  color: var(--code-literal);
}
