@import './code-layout.css';
@import './code-typography.css';
@import './code-colors.css';

:root {
  --code-default-font: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo;
  --code-default-font-size: 13px;

  --code-default-background: #fff;
  --code-default-text: #559;

  --code-default-gutter-background: #ddda;
  --code-default-gutter-text: #000;

  --code-default-punctuation: #555;
  --code-default-keyword: #80f;
  --code-default-operator: #f5a;
  --code-default-string: #4b9;
  --code-default-comment: #abb;
  --code-default-literal: #80f;
}

:host {
  --code-first-line-number: 1;
}

/*
:matches([hidden], :host([hidden]), slot::slotted([hidden]), :not(:defined)) {
  display: none;
}
 */

/*
@font-face {
  font-family: Code;
  src: local('SFMono-Regular'), local('Consolas'), local('Liberation Mono'), local('Menlo');
}
 */
