@import '../styles/theme/code-theme.css';
@import '../styles/theme/code-host.css';

:host {
  box-sizing: border-box;
  background-color: var(--code-background);
  /* ${sourceTextStyle} */
}

#wrapper {
  display: grid;
  width: max-content;
  height: max-content;
  min-width: 100%;
  min-height: 100%;
}

#content {
  color: var(--code-text);
  background-color: var(--code-background);
  /* counter-reset: line-number var(--code-first-line-number, 1); */
}

slot#code {
  counter-reset: line-number var(--code-first-line-number, 1);
  --code-wrap-indent: 1em;
  --code-gutter-inset: 1em;
  white-space: pre;

  /* ${'' && sourceTextStyle} */
}

slot#code::slotted(*) {
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  /* ${'' && sourceTextStyle} */
}

slot#code::slotted(source-text:not([line-number])) {
  counter-increment: line-number;
}

slot#code::slotted(:active) {
  outline: 0.5px solid #9996;
  background-color: #9991;
}
